
.footer{}.footer:before{width:100%;height:2px;content:"";float:left;background-color:#e5e5e5;margin:10px 0 10px 0;}
.users-online{font-weight:600;color:black;font-family:"Open Sans";font-size:16.5px;float:right;margin-top:15px;}
.subimage4{background:url(../../style/images/register/reg0.png);height:75px;box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,1);width:75px;border-radius:40px;background-position:155px 143px;float:left;margin-right:20px;}
.subimage3{background:url(../../style/images/register/reg1.png);height:75px;box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,1);width:75px;border-radius:40px;background-position:155px 143px;float:left;margin-right:20px;margin-left: -95px;}
.subimage2{background:url(../../style/images/register/reg2.png);height:75px;box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,1);width:75px;border-radius:40px;background-position:73px 126px;float:left;top:10px;position:relative;left:10px;margin-right:30px;margin-bottom:50px;}
.subimage1{background:url(../../style/images/register/reg3.png);height:75px;box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,1);width:75px;border-radius:40px;float:left;top:10px;position:relative;left:10px;margin-right:30px;margin-bottom:50px;}
.subscr{overflow: hidden;background: #2196f3;height:75px;box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,1);width:75px;border-radius:40px;float:left;top:10px;position:relative;left:5px;margin-right:14px;margin-bottom:10px;}
.ducket{height: 26px; width: 190px; background: url(../../style/images/register/ducket.png); background-repeat: no-repeat; margin-left: 250px; text-align: center; color: #fff; font-size: 13px; }
.hotelview{background-image: url(../../style/images/register/paris15_background_right.png); background-position:393px -180px; background-repeat: no-repeat;}
.sidebar-nav {
    padding: 9px 0;
}
.panel {
  margin-bottom: 21px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.errorSucces
{
	background: #28bb20;
	border-radius: 2px;
	color: #fff;
	display: none;
	font-size: 13px;
	line-height: 40px;
	margin-bottom: 8px;
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.dropdown-menu > li > a {
color:	#353535;
height: 40px;
line-height: 270%;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #141414;
  border-left: ridge #2196f3;	
  background-color: #CCFFFF;
}

.habbo-plate{position:absolute;top:98px;margin-left: 20px;background:url(../../style/images/register/info_habbo_plate.png) no-repeat 2px -162px;text-align:center;height:138px;position:absolute;width:96px}
.habbo-plate:hover{background-position:2px 75px}

.navbar-default .navbar-nav > li > a:hover {
background: #CCFFFF;

color: #353535;	
}
.navbar-default .navbar-nav > li > a {
	
color: #353535;	
}
